Q1. What are data structures, and why are they important?

Ans: Data structures are ways to organize and store data efficiently, enabling effective access, modification, and management of the data. They are important because they help optimize resource usage, improve performance, and simplify problem-solving for various computational tasks.

Q2. Explain the difference between mutable and immutable data types with examples.

Ans:

Mutable: Can be modified after creation (e.g., list, dict, set).
Example:

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list

In [ ]:
my_list

[1, 2, 3, 4]

Immutable: Cannot be modified after creation (e.g., tuple, string, int).
Example:

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # This will raise an error

In [2]:
my_tuple

NameError: name 'my_tuple' is not defined

Q3. What are the main differences between lists and tuples in Python?

Ans: The main differences between lists and tuples in Python is that Lists are Mutable whereas Tuples are Immutable. List uses Square brackets [ ] and Tuple uses Parentheses ( ). Performance of Lists are Slower (mutable overhead) & performance of Tuple is Faster (immutable). Lists are Dynamic means frequently changing is possible where as Tuples are Fixed which means it is always in constant collection mode.

Q4. Describe how dictionaries store data.

Ans: Dictionaries store data in key-value pairs using a hash table internally. Keys are hashed to generate a unique index, allowing for efficient lookup, insertion, and deletion.

Q5. Why might you use a set instead of a list in Python?

Ans: • To store unique values (no duplicates).

• For faster membership testing (in operator).

• For set operations like union, intersection, and difference.

Q6. What is a string in Python, and how is it different from a list?

Ans: A string is an immutable sequence of characters, while a list is a mutable sequence of objects (of any type).
Example:

In [1]:
string_example = "hello"
list_example = ['h', 'e', 'l', 'l', 'o']

Q7. How do tuples ensure data integrity in Python?

Ans: Tuples are immutable, meaning their contents cannot be changed after creation. This ensures that the data remains consistent and unmodified.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans: A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables for fast key-based data retrieval.

Q9. Can lists contain different data types in Python?

Yes, lists can store elements of different data types.
Example:

In [ ]:
mixed_list = [1, "string", 3.14, True]

Q10. Explain why strings are immutable in Python.

Ans: Strings are immutable to ensure hashability (used in sets and dictionaries) and thread safety, making them more reliable in concurrent programming.

Q11. What advantages do dictionaries offer over lists for certain tasks?


Ans: Faster lookups: Direct key access vs. searching a list.

Key-value storage: More descriptive and organized data representation.

Q12. Describe a scenario where using a tuple would be preferable over a list.

Ans:
When storing fixed data like coordinates (x, y) or database records where immutability is required.

Q13. How do sets handle duplicate values in Python?

Ans:
Sets automatically remove duplicate values.
Example:

In [ ]:
s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

Q14. How does the "in" keyword work differently for lists and dictionaries?

Ans:
List: Checks for the presence of an element.

Dictionary: Checks for the presence of a key.

Q15. Can you modify the elements of a tuple? Explain why or why not.

Ans:
No, tuples are immutable, so their elements cannot be modified after creation. This ensures data integrity.

Q16. What is a nested dictionary, and give an example of its use case?

Ans:
A nested dictionary is a dictionary containing another dictionary as a value.

Example:

In [ ]:
students = {
    "Alice": {"Math": 85, "Science": 90},
    "Bob": {"Math": 78, "Science": 88}
}

Q17. Describe the time complexity of accessing elements in a dictionary.

Ans:
Accessing elements in a dictionary has an average time complexity of O(1) due to the use of hash tables.

Q18. In what situations are lists preferred over dictionaries?

Ans:
When order matters (lists maintain order).
When the data doesn’t have a natural key-value structure.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:
Dictionaries are considered unordered because the order of keys is based on their hash values. This means you cannot rely on the insertion order (before Python 3.7).

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:
List: Data is accessed using indices (O(n) for searching).
Dictionary: Data is accessed using keys (O(1) average).

# **Practical Questions**

Q1. Write a code to create a string with your name and print it.

Ans:

In [ ]:
name = "John Doe"
print(name)

John Doe

Q2. Write a code to find the length of the string "Hello World".

Ans:

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

Ans:

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

Q4. Write a code to convert the string "hello" to uppercase.

Ans:

In [ ]:
string = "hello"
uppercase = string.upper()
print(uppercase)

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

Ans:

In [ ]:
string = "I like apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

Ans:

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4).

Ans:

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

Ans:

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

Ans:

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

Q10. Write a code to reverse the list 10, 20, 30, 40, 50).

Ans:

In [ ]:
numbers = [10, 20, 30, 40, 50]
reversed_list = numbers[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

Ans:

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

Q12. Write a code to access the first element of the tuple ('apple', banana', 'cherry').

Ans:

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Ans:

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
count_of_2 = numbers.count(2)
print(count_of_2)

3

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ans:

In [ ]:
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

Q15. Write a code to check if the element "banana" is in the tuple ('apple, 'orange', banana').

Ans:

In [ ]:
fruits = ('apple', 'orange', 'banana')
is_banana_present = 'banana' in fruits
print(is_banana_present)

True

Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Ans:

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Q17. Write a code to add the element 6 to the set (1, 2, 3, 4).

Ans:

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

Ans: Same as Q11

Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').


Ans: Same as Q12

Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Ans: Same as Q13

Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ans: Same as Q14

Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Ans:
Same as Q15

Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Ans:
Same as Q16

Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

Ans:
Same as Q17